<h1 class="header center grey-text black-text">
  Sobre Nosotros</h1>
{{!-- Terminado --}}
    <div class="col s5 m4">
      <div class="card center grey lighten-1">
          <img class="row center" width="300 " src="images/Brayan.jpeg" 
        style="border-radius: 2em;">
        <div class="card-content grey-text text-darken-3" style="font-size: 20px;">
          <p >Brayan Martin Garcia Carrera</p>
          <p>Semestre 10</p>
          <p>Estudiante de la Carrera de TICS.</p>
          <p>Estudiante del ITGAM.</p>
        </div>
      </div>
    </div>

      <div class="col left s10 m5">
        <div class="card-panel grey lighten-1 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s5">
              <img src="images/ALCHON.png" alt="" class="square responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="grey-text text-darken-3" style="font-size: 20px;">
                Fue desarrollado dentro de la instalacion del
                Instituto Tecnologico de Gustavo A.Madero De la Materia: <br> Pila Completa 2
              </span>
            </div>
          </div>
        </div>
      </div>
      <section id="contacto">
    <footer class="foot container">
        <div class="footer-txt">
            <p>Condiciones generales
                Aviso Legal
                Privacidad
                Cookies
                Soporte y ayuda
                © 2023, Instituto Educativo, S.A. Todos los derechos reservados</p>
        </div>
    </footer>
</section>