{{!-- Listo --}}
<div class="row center #e0f7fa cyan lighten-5"
style="margin: 3em; padding: 2em; border-radius: 1em;">
    <h1 class="header center grey-text text-darken-3" style="font-size: 30px;">
        Convocatorias  Docentes  ITGAM
    </h1>
        <img class="row center" width="400 " src="images/Profesor.jpg" 
        style="border-radius: 2em;">

    <div class="row center">
        <h5 class="header col s12 light grey-text text-darken-3">
            En este apartado prodras ver las siguientes convocatorias <br> Por el <br>Intituto Tecnologico Gustvo 
            Amadero.
        </h5>
    </div>
    <div class="row center">
        <a href="convocatorias/convo" id="download-button"
        class="btn-large grey darken-4">
           Informacion
        </a>
    </div>
</div>

{{!-- inicio de tarjetas --}}
<div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="images/itgam.png">
          <span class="card-title black-text text-darken-3">Convocatorias Abiertas</span>
        </div>
        <div class="card-content header center">
          <p>Numero de Convocatorias <br> en apertura <br>
          "3"
          <br>
          Concoce nuestras Convocatorias en apertura.
          </p>
        </div>
        <div class="card-action">
          <a href="convocatorias/convo">Ver mas</a>
        </div>
      </div>
    </div>
        {{!-- segunda tarjeta --}}
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="images/itgam.png">
          <span class="card-title black-text text-darken-3">Convocatorias En proxima Apertura</span>
        </div>
        <div class="card-content header center">
          <p>Numero de Convocatorias <br> en apertura <br>
          "3"
          <br>
          Concoce nuestras Convocatorias en apertura.
          </p>
        </div>
        <div class="card-action">
          <a href="convocatorias/convo">Ver mas</a>
        </div>
      </div>
    </div>
        {{!-- tercera tarjeta --}}

    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="images/itgam.png">
          <span class="card-title black-text text-darken-3">Convocatorias Cerradas</span>
        </div>
        <div class="card-content header center">
          <p>Numero de Convocatorias <br> Cerradas <br>
          "4"
          <br>
          <br>
          <br>
          </p>
        </div>
        <div class="card-action">
          <a href="convocatorias/convo">Ver mas</a>
        </div>
      </div>
    </div>
  </div>

  <ul class="collection">
    <h2>Preguntas Frecuentes</h2>
    <li class="collection-item avatar">
      <img src="/images/t1.png" alt="" class="circle">
      <span class="title">Maria</span>
      <p>Que estapas integran el proceso de Admision,Promocion vertical y horas adicionales?<br>

      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/images/t2.png" alt="" class="circle">
      <span class="title">Oscar</span>
      <p>Cuales son los tipos de reconocimiento docente?<br>
         
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/images/t3.png" alt="" class="circle">
      <span class="title">Lorena</span>
      <p>Cual es el numero maximo de horas que puede ostentar un docente?<br>
         
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="/images/t4.png" alt="" class="circle">
      <span class="title">Rivalcoba</span>
      <p>pendiente...<br>
        
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>

  <section id="contacto">
    <footer class="foot container">
        <h2>Contacto</h2>
        <form>
            <input class="campo" type="text" placeholder="Nombre">
            <input class="campo" type="email" placeholder="Email">
            <input type="submit" class="btn-2" value="Enviar">
        </form>
        <div class="footer-txt">
            <p>Condiciones generales
                Aviso Legal
                Privacidad
                Cookies
                Soporte y ayuda
                © 2023, Instituto Educativo, S.A. Todos los derechos reservados</p>
        </div>
    </footer>
</section>