{{!-- PlANTILLAS --}}
<div class="header center " style="font-size: 30px;">
  <h1 class="black-text">
    Convocatorias
  </h1>
</div>


{{!-- inicio de tarjetas --}}
<div class="row">
  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <img src="/images/p1.jpg">
        <span class="card-title black-text text-darken-3">Plaza E3519</span>
      </div>
      <div class="card-content header center">
        <p>Categoria: <br> PROFESOR DE ASIGNATURA DE<br>E.S. <br> “A”
          <br>
          Articulo 21
        </p>
      </div>
      <div class="card-action">
        <a href="/tarjeta/tarjetados">Ver mas</a>
      </div>
    </div>
  </div>
  {{!-- segunda tarjeta --}}
  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <img src="/images/p2.jpg">
        <span class="card-title black-text text-darken-3">Plaza E3521</span>
      </div>
      <div class="card-content header center">
        <p>Categoria: <br> PROFESOR DE ASIGNATURA DE <br> E.S. <br> “B”<br>
          Articulo 22
        </p>
      </div>
      <div class="card-action">
        <a href="/tarjeta/tarjetaone">Ver mas</a>
      </div>
    </div>
  </div>
  {{!-- tercera tarjeta --}}

  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <img src="/images/p3.jpg">
        <span class="card-title black-text text-darken-3">Plaza E3521</span>
      </div>
      <div class="card-content header center">
        <p>Categoria: <br> PROFESOR DE ASIGNATURA DE E.S. <br> “C”<br>
          Convocatoria Cerradas.
          <br>
        </p>
      </div>
      <div class="card-action">
        <a href="convocatorias/convo">Ver mas</a>
      </div>
    </div>
  </div>
</div>
<section id="contacto">
    <footer class="foot container">
        <div class="footer-txt">
            <p>Condiciones generales
                Aviso Legal
                Privacidad
                Cookies
                Soporte y ayuda
                © 2023, Instituto Educativo, S.A. Todos los derechos reservados</p>
        </div>
    </footer>
</section>